.card {
    background-color: lightblue;
    text-align: center;
    padding: 20px 80px 30px 80px;
    border: dashed;
    border-color: blue;
}

h1 {
font-size: 350%;
color: white;
}

h2 {

}

h3 {

}