.card {
    background-color: lightblue;
    text-align: center;
    padding: 20px 80px 30px 80px;
    border: dashed;
    border-color: blue;
}

h1 {
font-size: 350%;
color: white;
}

h2 {
font-size: 275%;
color: white;
}

h3 {
font-size: 200%;
color: white;
}

button {
    display: block;
    margin: 10px 15px;
}

#questions { 
    display: flex;
}



#startQuizButton, #submitButton {
    display: inline;
}

p, li, #rightAnswer, #wrongAnswer{
    line-height: 1.25;
    font-weight: bold;
    font-size: 110%;
}

button:hover {
    color: aquamarine;
    background-color: azure;
}